.navbar{
    height: 4em;
    background: #3f5651;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    padding:  0px 24px;
    position: sticky;
    z-index: 100;
    top: 0;
}

.logo h2{
    
    cursor: pointer;
}
@media (max-width: 768px){
    .navbar{
        justify-content: center;
    }
}